.tag-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 200px; /* Adjust as needed */
}

button {
    background-color: transparent;
    border: 2px solid #dbe2ff;
    border-radius: 30px;
    color: #797b8e;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    height: 42px;
    outline: none;
}

button.selected {
    background-color: #ffffff;
}

button.selected span {
    color: #000000;
}

button span {
    font-family: 'Inter', Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    pointer-events: none;
}
